[Desktop Entry]
Type=Application
Name=Karoshi video DVD detection
Comment=Detect video DVDs and generate icon
OnlyShowIn=XFCE;
Exec=karoshi-detect-dvd
