body {
font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
color: #336699;
font-size: 10pt;
background-color: #F5EEFF;
}

table.standard th, table.standard td {
  font-size : 10pt;
  font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
  background : #F5EEFF }

table.mon th, table.mon td {
  font-size : 10pt;
  font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
 }

table.headings th, table.headings td {
  font-size : 10pt;
  color: #F5EEFF;
  font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
  background : #336699 }

table.data th, table.data td {
  font-size : 9pt;
  font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
  background : #F5EEFF }

A:link {
        color: #336699;
        text-decoration: none
}

A:visited {
        color: #336699;
        text-decoration: none
}

A:active {
        background-color: #CBD2D6;
        text-decoration: none
}

A:hover {
        color: #1B3753;
        font-weight:bold;
        text-decoration: none
}

#menubox {
        position:absolute;
        top: 0px;
        left: 0px;
        border-width: 0px;
}

#submenubox {
        position:absolute;
        top: 160px;
        left: 0px;
        margin: 2px 2px 2px 2px;
}

#actionbox {
        position:absolute;
        top: 160px;
        left: 230px;
        width: 678px;
        margin: 2px 2px 2px 2px;

}

#submitbox {
        position:absolute;
        top: 568px;
        left: 235px;
        margin: 2px 2px 2px 2px;
}

#resetbox {
        position:absolute;
        top: 568px;
        left: 315px;
        margin: 2px 2px 2px 2px;
}
#selectallbox {
        position:absolute;
        top: 568px;
        left: 388px;
        margin: 2px 2px 2px 2px;
}

        a.info{
        position:relative;           /*this is the key*/
        z-index:24;
        background-color:#e0e0e0;    /* background colour of display text */
        color:#000000;               /* colour of display text */
        border:1px dotted #999;    /* border colour */
        text-decoration:none;
        font-style:italic;
        }

        a.info:hover {
        z-index:25;
        background-color:#ffffff;

        }

        a.info span{
        display: none;  /* hide the span text using this css */
        }

        a.info:hover span{ /*the span will display just on :hover state*/
        display:block;
        position:absolute;
        top: 1.5em;
        left: 3em;
        width:15em;
        border:1px solid #3B6694; /* border colour */
        background-color:#ffffff; /* background colour here */
        color:#000000;         /* text colour */
        text-align: center;
        font-size: .8em;
        font-style:italic;
        z-index:30;
        }
        a.info2{
        position:relative;           /*this is the key*/
        z-index:24;
        background-color:#e0e0e0;    /* background colour of display text */
        color:#000000;               /* colour of display text */
        border:1px dotted #999;    /* border colour */
        text-decoration:none;
        font-style:italic;
        }

        a.info2:hover {
        z-index:25;
        background-color:#ffffff;

        }

        a.info2 span{
        display: none;  /* hide the span text using this css */
        }

        a.info2:hover span{ /*the span will display just on :hover state*/
        display:block;
        position:absolute;
        top: 1.5em;
        left: 3em;
        width:15em;
        border:0px solid #3B6694; /* border colour */
        background-color:#ffffff; /* background colour here */
        color:#000000;         /* text colour */
        text-align: center;
        font-size: .8em;
        font-style:italic;
        z-index:30;
        }
        .images {
        vertical-align:bottom;
				border: none;
        }
