@import 'standard.css' screen;
@import 'print.css' print;
@media screen {

body {
	color: #ffffff;
	background-color: #000000;
}

#pagecontainer {
	background-image: url(/images/backgrounds/bronze.jpg);
}

#photobox {
	background-color: #1D1D1D;
}

#actionbox {
	background-color: #1D1D1D;
	border-color: #FF9D36;
}

#actionbox3 {
	background-color: #1D1D1D;
	border-color: #FF9D36;
}

#actionbox4 {
	background-color: #FFFFFF;
	border-color: #FF9D36;
}

.warnings {
	color: #FF0000;
}

#show1:hover{color: #fff !important }

#hide1:hover{color: #fff !important } 

.button:hover { 
	color: #fff;
	background: #FF911D;
	background-image: -webkit-linear-gradient(top, #FF911D, #A25C12);
	background-image: -moz-linear-gradient(top, #FF911D, #A25C12);
	background-image: -ms-linear-gradient(top, #FF911D, #A25C12);
	background-image: -o-linear-gradient(top, #FF911D, #A25C12);
	background-image: linear-gradient(to bottom, #FF911D, #A25C12);
	text-decoration: none;
 }

.simbutton:hover {
	color: #FFFFFF;
	background: #FF911D;
	background-image: -webkit-linear-gradient(top, #FF911D, #A25C12);
	background-image: -moz-linear-gradient(top, #FF911D, #A25C12);
	background-image: -ms-linear-gradient(top, #FF911D, #0A25C12);
	background-image: -o-linear-gradient(top, #FF911D, #A25C12);
	background-image: linear-gradient(to bottom, #FF911D, #A25C12);
	text-decoration: none;
}


table.menu th, table.menu td {
	color: #ffffff;
}
table.headings th, table.headings td {
	color: #F5EEFF;
}

table.tablesorter {
	background-color: #4B2D0F;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #5B3713;
	border: 1px solid #51300F;
}
table.tablesorter thead tr .header {
	background-image: url(/all/js/jquery.tablesorter/images/bg-white.gif);
}
table.tablesorter tbody td {
	color: #fff;
	background-color: #000;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/all/js/jquery.tablesorter/images/asc-white.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/all/js/jquery.tablesorter/images/desc-white.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #DF7F19;
color: #FFFFFF;
}

A:link {
	color: #ffffff;
}

A:visited {
	color: #ffffff;
}

A:hover {
	color: #ffffff;
}

.preload1 {
	background-image: url(/images/pro_dropdown_2_bronze/three_1.gif);
}
.preload2 {
	background-image: url(/images/pro_dropdown_2_bronze/three_1a.gif);
}

#nav {background:#784A00 url(/images/pro_dropdown_2_bronze/three_0.gif) repeat-x; position:relative; z-index:500;
}


#nav li a.top_link {
	color:#FFFFFF;
	background-image: url(/images/pro_dropdown_2_bronze/three_0.gif);
}
#nav li a.top_link span {
	background-image: url(/images/pro_dropdown_2_bronze/three_0.gif);
}
#nav li a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_bronze/three_0a.gif);
}

#nav li:hover a.top_link {
	color:#FFFFFF;
	background-image: url(/images/pro_dropdown_2_bronze/three_1.gif);
}
#nav li:hover a.top_link span {
	background-image: url(/images/pro_dropdown_2_bronze/three_1.gif);
}
#nav li:hover a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_bronze/three_1a.gif);
}

/* Default list styling */

#nav li:hover ul.sub {
	background-color: #ffffff;
	border-color: #FF9D36;
}
#nav li:hover ul.sub li a {
	color:#000;
	border-color: #ffffff;
}
#nav li ul.sub li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_bronze/arrow.gif);
}
#nav li:hover ul.sub li a:hover {
	background-color: #FF9D36;
	color:#fff;
	border-color:#fff;
}
#nav li:hover ul.sub li a.fly:hover {
	background-color: #FF9D36;
	background-image: url(/images/pro_dropdown_2_bronze/arrow_over.gif);
	color:#fff;
}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul {
	background-color: #ffffff;
	border-color: #FF9D36;
}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly {
	background-color: #FF9D36;
	background-image: url(/images/pro_dropdown_2_bronze/arrow_over.gif);
	color:#fff;
	border-color:#fff;
}

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_bronze/arrow.gif);
	color:#000;
	border-color:#ffffff;
}
}
