@import 'standard.css' screen;
@import 'print.css' print;
@media screen {

body {
	color: #ffffff;
	background-color: #000000;
}

#pagecontainer {
	background-image: url(/images/backgrounds/green.jpg);
}

#photobox {
	background-color: #041803;
}

#actionbox {
	background-color: #041803;
	border-color: #20A819;
}

#actionbox3 {
	background-color: #041803;
	border-color: #20A819;
}

#actionbox4 {
	background-color: #FFFFFF;
	border-color: #20A819;
}

.button:hover { 
	color: #FFFFFF;
	background: #20A819;
	background-image: -webkit-linear-gradient(top, #20A819, #0C1E00);
	background-image: -moz-linear-gradient(top, #20A819, #0C1E00);
	background-image: -ms-linear-gradient(top, #20A819, #0C1E00);
	background-image: -o-linear-gradient(top, #20A819, #0C1E00);
	background-image: linear-gradient(to bottom, #20A819, #0C1E00);
	text-decoration: none;
 }

.simbutton:hover {
	color: #FFFFFF;
	background: #20A819;
	background-image: -webkit-linear-gradient(top, #20A819, #0C1E00);
	background-image: -moz-linear-gradient(top, #20A819, #0C1E00);
	background-image: -ms-linear-gradient(top, #20A819, #0C1E00);
	background-image: -o-linear-gradient(top, #20A819, #0C1E00);
	background-image: linear-gradient(to bottom, #20A819, #0C1E00);
	text-decoration: none;
}

table.menu th, table.menu td {
	color: #ffffff;
}
table.headings th, table.headings td {
	color: #F5EEFF;
}

table.tablesorter {
	background-color: #11580C;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #0A3307;
	border: 1px solid #051A03;
}

table.tablesorter thead tr .header {
	background-image: url(/all/js/jquery.tablesorter/images/bg-white.gif);
}

table.tablesorter tbody td {
	color: #fff;
	background-color: #000;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/all/js/jquery.tablesorter/images/asc-white.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/all/js/jquery.tablesorter/images/desc-white.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #1B8F15;
color: #FFFFFF;
}

a:link {
	color: #000;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #fff;
}

.preload1 {
	background-image: url(/images/pro_dropdown_2_green/three_1.gif);
}
.preload2 {
	background-image: url(/images/pro_dropdown_2_green/three_1a.gif);
}

#nav {background:#014305 url(/images/pro_dropdown_2_green/three_0.gif) repeat-x; position:relative; z-index:500;
}


#nav li a.top_link {
	color:#fff;
	background-image: url(/images/pro_dropdown_2_green/three_0.gif);
}
#nav li a.top_link span {
	background-image: url(/images/pro_dropdown_2_green/three_0.gif);
}
#nav li a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_green/three_0a.gif);
}

#nav li:hover a.top_link {
	color:#fff;
	background-image: url(/images/pro_dropdown_2_green/three_1.gif);
}
#nav li:hover a.top_link span {
	background-image: url(/images/pro_dropdown_2_green/three_1.gif);
}
#nav li:hover a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_green/three_1a.gif);
}

/* Default list styling */

#nav li:hover ul.sub {
	background-color: #ffffff;
	border-color: #20A819;
}
#nav li:hover ul.sub li a {
	color:#000;
	border-color: #ffffff;
}
#nav li ul.sub li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_green/arrow.gif);
}
#nav li:hover ul.sub li a:hover {
	background-color: #20A819;
	color:#fff;
	border-color:#fff;
}
#nav li:hover ul.sub li a.fly:hover {
	background-color: #20A819;
	background-image: url(/images/pro_dropdown_2_green/arrow_over.gif);
	color:#fff;
}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul {
	background-color: #ffffff;
	border-color: #20A819;
}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly {
	background-color: #20A819;
	background-image: url(/images/pro_dropdown_2_green/arrow_over.gif);
	color:#fff;
	border-color:#fff;
}

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_green/arrow.gif);
	color:#000;
	border-color:#ffffff;
}
}
