@import 'standard.css' screen;
@import 'print.css' print;
@media screen {

body {
	color: #000000;
	background-color: #ffffff;
	background-image: url(/images/backgrounds/lightyellow.jpg);
}

#actionbox {
	background-color: #FCFDDE;
	border-color: #717110;
}

#actionbox3 {
	background-color: #FCFDDE;
	border-color: #717110;
}

#actionbox4 {
	background-color: #FFFFFF;
	border-color: #717110;
}

.button:hover { background-color: #717110;
   		border: solid 1px #6C6C6C;
 }

table.menu th, table.menu td {
	color: #000000;
}
table.headings th, table.headings td {
	color: #000000;
}

A:link {
	color: #000000;
}

A:visited {
	color: #000000;
}

A:hover {
	color: #000000;
}

.preload1 {
	background-image: url(/images/pro_dropdown_2_yellow/three_1.gif);
}
.preload2 {
	background-image: url(/images/pro_dropdown_2_yellow/three_1a.gif);
}

#nav {background:#30353B url(/images/pro_dropdown_2_yellow/three_0.gif) repeat-x; position:relative; z-index:500;
}


#nav li a.top_link {
	color:#ccc;
	background-image: url(/images/pro_dropdown_2_yellow/three_0.gif);
}
#nav li a.top_link span {
	background-image: url(/images/pro_dropdown_2_yellow/three_0.gif);
}
#nav li a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_yellow/three_0a.gif);
}

#nav li:hover a.top_link {
	color:#fff;
	background-image: url(/images/pro_dropdown_2_yellow/three_1.gif);
}
#nav li:hover a.top_link span {
	background-image: url(/images/pro_dropdown_2_yellow/three_1.gif);
}
#nav li:hover a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_yellow/three_1a.gif);
}

/* Default list styling */

#nav li:hover ul.sub {
	background-color: #ffffff;
	border-color: #717110;
}
#nav li:hover ul.sub li a {
	color:#000;
	border-color: #ffffff;
}
#nav li ul.sub li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_yellow/arrow.gif);
}
#nav li:hover ul.sub li a:hover {
	background-color: #35469F;
	color:#fff;
	border-color:#fff;
}
#nav li:hover ul.sub li a.fly:hover {
	background-color: #35469F;
	background-image: url(/images/pro_dropdown_2_yellow/arrow_over.gif);
	color:#fff;
}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul {
	background-color: #ffffff;
	border-color: #717110;
}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly {
	background-color: #35469F;
	background-image: url(/images/pro_dropdown_2_yellow/arrow_over.gif);
	color:#fff;
	border-color:#fff;
}

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_yellow/arrow.gif);
	color:#000;
	border-color:#ffffff;
}
}
