@import 'standard.css' screen;
@import 'print.css' print;
@media screen {

body {
	color: #ffffff;
	background-color: #010204;
	background-image: url(/images/backgrounds/pink.jpg);
}

#actionbox {
	background-color: #400020;
}

#actionbox3 {
	background-color: #400020;
}

#actionbox4 {
	background-color: #FFFFFF;
}

table.menu th, table.menu td {
	color: #ffffff;
}
table.headings th, table.headings td {
	color: #F5EEFF;
}

A:link {
	color: #ffffff;
}

A:visited {
	color: #ffffff;
}

A:hover {
	color: #ffffff;
}

.preload1 {
	background-image: url(/images/pro_dropdown_2_pink/three_1.gif);
}
.preload2 {
	background-image: url(/images/pro_dropdown_2_pink/three_1a.gif);
}

#nav {background:#810158 url(/images/pro_dropdown_2_pink/three_0.gif) repeat-x; position:relative; z-index:500;
}


#nav li a.top_link {
	color:#ccc;
	background-image: url(/images/pro_dropdown_2_pink/three_0.gif);
}
#nav li a.top_link span {
	background-image: url(/images/pro_dropdown_2_pink/three_0.gif);
}
#nav li a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_pink/three_0a.gif);
}

#nav li:hover a.top_link {
	color:#fff;
	background-image: url(/images/pro_dropdown_2_pink/three_1.gif);
}
#nav li:hover a.top_link span {
	background-image: url(/images/pro_dropdown_2_pink/three_1.gif);
}
#nav li:hover a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_pink/three_1a.gif);
}

/* Default list styling */

#nav li:hover ul.sub {
	background-color: #ffffff;
	border-color: #5c731e;
}
#nav li:hover ul.sub li a {
	color:#000;
	border-color: #ffffff;
}
#nav li ul.sub li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_pink/arrow.gif);
}
#nav li:hover ul.sub li a:hover {
	background-color: #35469F;
	color:#fff;
	border-color:#fff;
}
#nav li:hover ul.sub li a.fly:hover {
	background-color: #35469F;
	background-image: url(/images/pro_dropdown_2_pink/arrow_over.gif);
	color:#fff;
}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul {
	background-color: #ffffff;
	border-color: #5c731e;
}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly {
	background-color: #35469F;
	background-image: url(/images/pro_dropdown_2_pink/arrow_over.gif);
	color:#fff;
	border-color:#fff;
}

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_pink/arrow.gif);
	color:#000;
	border-color:#ffffff;
}
}
