@media print {

body {
font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
font-size: 10pt;
color: black;
}

#header {
	display: none;
}

#navbar {
	display: none;
}

.info {
	display: none;
}


#titlebox table.standard b {
    text-decoration: underline;
    font-size: 1.2em;
}

a {
    color: black;
}

input {
    display: none;
}

a.info, a.info2, a.info3{
    display: none;
}

}
