@import 'standard.css' screen;
@import 'print.css' print;
@media screen {

body {
	color: #ffffff;
	background-color: #000000;
}

#pagecontainer {
	background-image: url(/images/backgrounds/yellow.jpg);
}

#photobox {
	background-color: #181800;
}

#actionbox {
	background-color: #181800;
	border-color: #EDF853;
}

#actionbox3 {
	background-color: #181800;
	border-color: #EDF853;
}

#actionbox4 {
	background-color: #FFFFFF;
	border-color: #EDF853;
}

.button:hover { 
  color: #000000;
  background: #EDF853;
  background-image: -webkit-linear-gradient(top, #EDF853, #D7E14B);
  background-image: -moz-linear-gradient(top, #EDF853, #D7E14B);
  background-image: -ms-linear-gradient(top, #EDF853, #D7E14B);
  background-image: -o-linear-gradient(top, #EDF853, #D7E14B);
  background-image: linear-gradient(to bottom, #EDF853, #D7E14B);
  text-decoration: none;
 }

table.menu th, table.menu td {
	color: #ffffff;
}
table.headings th, table.headings td {
	color: #F5EEFF;
}

A:link {
	color: #ffffff;
}

A:visited {
	color: #ffffff;
}

A:hover {
	color: #ffffff;
}

.preload1 {
	background-image: url(/images/pro_dropdown_2_yellow/three_1.gif);
}
.preload2 {
	background-image: url(/images/pro_dropdown_2_yellow/three_1a.gif);
}

#nav {background:#6F7700 url(/images/pro_dropdown_2_yellow/three_0.gif) repeat-x; position:relative; z-index:500;
}


#nav li a.top_link {
	color:#000;
	background-image: url(/images/pro_dropdown_2_yellow/three_0.gif);
}
#nav li a.top_link span {
	background-image: url(/images/pro_dropdown_2_yellow/three_0.gif);
}
#nav li a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_yellow/three_0a.gif);
}

#nav li:hover a.top_link {
	color:#000;
	background-image: url(/images/pro_dropdown_2_yellow/three_1.gif);
}
#nav li:hover a.top_link span {
	background-image: url(/images/pro_dropdown_2_yellow/three_1.gif);
}
#nav li:hover a.top_link span.down {
	background-image: url(/images/pro_dropdown_2_yellow/three_1a.gif);
}

/* Default list styling */

#nav li:hover ul.sub {
	background-color: #ffffff;
	border-color: #EDF853;
}
#nav li:hover ul.sub li a {
	color:#000;
	border-color: #ffffff;
}
#nav li ul.sub li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_yellow/arrow.gif);
}
#nav li:hover ul.sub li a:hover {
	background-color: #EDF853;
	color:#000;
	border-color:#fff;
}
#nav li:hover ul.sub li a.fly:hover {
	background-color: #EDF853;
	background-image: url(/images/pro_dropdown_2_yellow/arrow_over.gif);
	color:#000;
}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul {
	background-color: #ffffff;
	border-color: #EDF853;
}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly {
	background-color: #EDF853;
	background-image: url(/images/pro_dropdown_2_yellow/arrow_over.gif);
	color:#000;
	border-color:#fff;
}

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly {
	background-color: #ffffff;
	background-image: url(/images/pro_dropdown_2_yellow/arrow.gif);
	color:#000;
	border-color:#ffffff;
}
}
