a:link,a:visited{color:#bf3503}a:hover,a:active{color:#3f5c10}#page-header{background:#333 url(/moodle/theme/image.php/formfactor/theme/1372939993/header) 0 0;color:#fff}.path-course-view .course-content .section.main.current,#page-navigation{background:#bf3503}#page-navigation a:link,
#page-navigation a:visited,
.path-course-view .course-content .current
.left{color:#fff}#page-navigation a:hover,
#page-navigation  a:active{background:#922803}.path-course-view .section
.content{background:#fff}body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea{font-family:"Trebuchet MS",Arial,Helvetica,sans-serif}#page-header-wrapper{margin:0
50px}#page-header{float:none}#page-header
.headermain{margin:0.75em 0;font-size:2em}#page-header .headermenu a:hover{color:#fff}#page-site-index
.headermain{margin:0.85em 0;font-size:2.5em}#course-header{margin:0
50px}#page-navigation{margin:0;padding:0
40px;font-size:1.1em}#page-navigation
li{list-style:none;float:left}#page-navigation
a{display:block;padding:5px
10px}.navbar{padding:3px
50px}.navbar
.breadcrumb{font-size:0.8em;color:#555}#page-content-wrapper{margin:10px
50px}.tabtree .tabrow0 li.here
a{background:#fff url(/moodle/theme/image.php/formfactor/theme/1372939993/gradient-sb) repeat-x 0 0}.tabtree .tabrow0 .tabrow1 li
a{background:none !important}.userinfobox
.content{border-width:2px;background:url(/moodle/theme/image.php/formfactor/theme/1372939993/gradient-sb) repeat-x 0 0}.mform
fieldset{border-color:#ddd}.mform
legend{border:1px
solid #ddd;padding:2px
7px;background:url(/moodle/theme/image.php/formfactor/theme/1372939993/gradient-sb) repeat-x 0 -25%}.mform .btn-cancel{color:#BF3503;text-decoration:none}.mform .btn-cancel:hover, .mform .btn-cancel:focus{color:#3f5c10;text-decoration:none}#page-footer{margin:25px
0}#page-footer
.logininfo{margin:1em
0}#course-footer{margin:0
50px}#custommenu{margin:0
50px}#custommenu,
#custommenu .yui3-menu,
#custommenu .yui3-menu-content{border-width:0}#custommenu{background:url(/moodle/theme/image.php/formfactor/theme/1372939993/gradient-sb) repeat-x 0 30%;padding-top:4px;padding-bottom:4px;border-bottom:1px solid #ccc;border-left:1px solid #eee;border-right:1px solid #eee}#custommenu .yui3-menu-label,
#custommenu .yui3-menuitem-content{border-width:0}#custommenu .yui3-menu-content .yui3-menu-content{border:1px
solid #ccc;border-top-width:0;margin-top:3px}#custommenu .yui3-menu-content .yui3-menu-content .yui3-menu-content{border-top:1px solid #ccc}#custommenu .yui3-menu-content .yui3-menu-content .yui3-menuitem-content,
#custommenu .yui3-menu-content .yui3-menu-content .yui3-menu-label{padding-top:5px}#custommenu .yui3-menu-label,
#custommenu .yui3-menuitem-content{color:#BF3503}#custommenu .yui3-menu .yui3-menuitem-active,
#custommenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu-label-active,
#custommenu .yui3-menuitem-active .yui3-menuitem-content{background-color:#BF3503}#custommenu .yui3-menu-label-active,
#custommenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menuitem-active .yui3-menuitem-content{color:#FFF}#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content{border-width:0}.path-course-view .course-content
.section.main{background:#f5f5f5;border:1px
solid #ddd}.course_category_tree .category > .info
.name{line-height:1.4;font-size:1em}.coursebox.collapsed{border-bottom:none}#intro,#pageintro{background:#f7f7f7}.path-mod-forum .forumheaderlist
th{background:url(/moodle/theme/image.php/formfactor/theme/1372939993/gradient-sb) repeat-x 0 0}.path-mod-forum .forumheaderlist .r1
td{background:#f5f5f5}.forumpost
.topic{background:#eee;border-bottom:2px solid #AAA;padding-left:7px}.forumpost .topic
.subject{font-size:1.25em}.forumpost .topic
.author{font-style:italic;color:#444;font-size:0.95em}.forumpost .content
.posting{padding:5px
7px 10px 7px}.forumpost
.options{border-bottom:5px solid #aaa}.path-mod-assignment #dates table
.c0{background:#f5f5f5}.block{border-width:1px 0 0;border-color:#ccc;border-style:solid;background:url(/moodle/theme/image.php/formfactor/theme/1372939993/gradient-sb) repeat-x 0 0}.block
.header{border-width:0 1px;border-style:solid;border-color:#eee;;padding:3px
10px}.block .header
h2{color:#333;font-size:1.2em}.block
.content{padding:5px
10px;border-color:#eee;border-width:0 1px 1px;border-style:solid}.block_login{border:1px
solid #ccc;background:#fcffc8}.block_login
label{font-size:0.85em;display:block}.block_login .fld
input{margin:1px
0 5px;padding:2px;width:95%}.block_login
.btn{padding:4px
0}.block_login
.footer{font-size:0.9em;padding:5px
0 3px}.block_calendar_month
.content{padding:5px}.block_course_summary
.content{padding:10px}