@media screen and (max-width: 510px) {
    div.tabBody_vertical div.tabStripContainer {
        width: 140px;
    }

    html.js body div.tabAttemptUpLevel.tabBody_vertical a.tabLinkEnabled.tabLinkSelected,
    html.js body div.tabAttemptUpLevel.tabBody_vertical a.tabLinkSelected,
    html.js body div.tabAttemptUpLevel.tabBody_vertical a.tabLinkEnabled.tabLinkSelected:visited,
    body div.tabBody_vertical a.tabLink,
    body div.tabBody_vertical a.tabLink:visited {
        width: 120px;
    }


    div.tabBody_vertical div.tabContent {
        margin-left: 170px;
    }
}
