[Desktop Entry]
Comment=
Comment[en_GB]=
Encoding=UTF-8
Exec=/opt/karoshi/karoshi_user/.karoshi_internet_management
GenericName=Karoshi Management
GenericName[en_GB]=Karoshi Management
Icon=/opt/karoshi/karoshi_user/icons/smalllogo.xpm
MimeType=
Name=Karoshi Internet Management
Name[en_GB]=Karoshi Internet Management
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
