[Desktop Entry]
Comment=
Comment[en_GB]=
Encoding=UTF-8
Exec= mozilla-firefox https://xen:50001/cgi-bin/admin/change_password_fm.cgi
GenericName=Karoshi Management
GenericName[en_GB]=Karoshi Management
Icon=/opt/karoshi/karoshi_user/icons/smalllogo.xpm
MimeType=
Name=Karoshi Management
Name[en_GB]=Karoshi Management
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
