[Desktop Entry]
Comment=
Comment[en_GB]=
Encoding=UTF-8
Exec=xhost local:root ; sudo -H /opt/karoshi/karoshimanagement/karoshisetup
GenericName=Karoshi Management
GenericName[en_GB]=Karoshi Management
Icon=/opt/karoshi/karoshi_user/icons/smalllogo.xpm
MimeType=
Name=Karoshi Management
Name[en_GB]=Karoshi Management
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
