[Desktop Entry]
Comment=
Comment[en_GB]=
Encoding=UTF-8
Exec=/opt/karoshi/karoshi_user/.karoshiemailmanagement
GenericName=Karoshi Management
GenericName[en_GB]=Karoshi Management
Icon=/opt/karoshi/karoshi_user/icons/smalllogo.xpm
MimeType=
Name=Karoshi E-Mail Management
Name[en_GB]=Karoshi E-Mail Management
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
