
[Desktop Entry]
Comment=Karoshi Web Management
Comment[en_GB]=Karoshi Management
Encoding=UTF-8
Exec=firefox https://xen:50001
GenericName=Karoshi Management
GenericName[en_GB]=Karoshi Web Management
Icon=/opt/karoshi/linuxclientsetup/images/smalllogo.xpm
MimeType=Karoshi Management
Name=Karoshi Management
Name[en_GB]=Karoshi Management
StartupNotify=false
Terminal=false
Type=Application
