div.sdmenu {
	margin-left: auto ;
	margin-right: auto ;
        top: 5px;
        left: 5px;
	width: 300px;
	font-family: Arial, sans-serif;
	font-size: 20px;
	padding-bottom: 15px;
	background: url(bottom.gif) no-repeat  right bottom;
	color: #fff;
}
div.sdmenu div {
	background: url(title.gif) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(toptitle.png) no-repeat;
}
div.sdmenu div.collapsed {
	height: 40px;
}
div.sdmenu div span {
	display: block;
	padding: 10px 25px;
	font-weight: bold;
	color: white;
	background: url(expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #525252;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	background : #525252 url(linkarrow.gif) no-repeat right center;
	color: #fff;
	text-decoration: none;
}

#mobileactionbox {
	margin-left: auto ;
	margin-right: auto ;
	background-color: #EEEEEE;
	color: #525252;
	font-family: Arial, sans-serif;
	font-size: 16px;
        top: 90px;
        left: 5px;
        width: 280px;
	padding: 5px 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#mobileactionbox2 {
	margin-left: auto ;
	margin-right: auto ;
	background-color: #EEEEEE;
	color: #525252;
	font-family: Arial, sans-serif;
	font-size: 16px;
        top: 90px;
        left: 5px;
        width: 600px;
	padding: 5px 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#mobileactionbox3 {
	margin-left: auto ;
	margin-right: auto ;
	background-color: #EEEEEE;
	color: #525252;
	font-family: Arial, sans-serif;
	font-size: 16px;
        top: 90px;
        left: 5px;
        width: 700px;
	padding: 5px 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#mobileactionbox4 {
	margin-left: auto ;
	margin-right: auto ;
	background-color: #EEEEEE;
	color: #525252;
	font-family: Arial, sans-serif;
	font-size: 16px;
        top: 90px;
        left: 5px;
        width: 780px;
	padding: 5px 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

table.mobilestandard th, table.mobilestandard td {
  font-size : 10pt;
   color: #525252;
  font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
 }

table.mobileheadings th, table.mobileheadings td {
  font-size : 10pt;
  color: #525252;
  font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
  }

