#pagecontainer {
	padding: 10px 0 0 0;
	margin: 0;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	min-width: 400px;
	max-width: 600px;
	display: flex;
	flex-direction: column;
}


A:link {
        color: #525252;
        text-decoration: none
}

A:visited {
        color: #525252;
        text-decoration: none
}

A:active {
        text-decoration: none
}

A:hover {
        color: #525252;
        text-decoration: none
}

#photobox {
	width: 140px;
	margin: 0px auto 0px auto;
}

#suggestions{ position: fixed; left: 50%; margin-top: 15px; margin-left: -100px; }

div.sdmenu {
	margin-left: auto ;
	margin-right: auto ;
        top: 5px;
        left: 5px;
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 20px;
	padding-bottom: 15px;
	background: url(bottom.gif) no-repeat  right bottom;
	color: #fff;
	text-align: center;
}
div.sdmenu div {
	background: url(title.gif) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(toptitle.png) repeat-x;
}
div.sdmenu div.collapsed {
	height: 40px;
}
div.sdmenu div span {
	display: block;
	padding: 10px 25px;
	font-weight: bold;
	color: white;
	background: url(expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #525252;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	background : #525252 url(linkarrow.gif) no-repeat right center;
	color: #fff;
	text-decoration: none;
}

#mobilecontent {
	margin-left: auto ;
	margin-right: auto ;
	width: 100%;
}

#mobileactionbox {
	margin-left: auto ;
	margin-right: auto ;
	background-color: #EEEEEE;
	color: #525252;
	font-family: Arial, sans-serif;
	font-size: 16px;
        top: 90px;
        width: 100%;
	padding: 10px 0px 10px 0px;
	text-align: center;
}


#mobileactionbox2 {
	position: absolute;
	background-color: #EEEEEE;
	color: #525252;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 5px 10px;
	margin: 0;
	text-align: center;
}

#mobileactionbox3 {
	position: absolute;
	background-color: #EEEEEE;
	color: #525252;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 5px 10px;
	margin: 0;
	width: 100%;
	text-align: center;
}

table.mobilestandard {
	margin-left: auto ;
	margin-right: auto ;
text-align: center;
 }

table.mobileheadings {
	margin-left: auto ;
	margin-right: auto ;
text-align: center;
 }


table.mobilestandard th, table.mobilestandard td {
  font-size : 10pt;
   color: #525252;
  font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
 }

table.mobileheadings th, table.mobileheadings td {
  font-size : 10pt;
  color: #525252;
  font-family: Arial, Times, Georgia, "Times New Roman", Times, serif;
  }

