[KdmGreeterTheme]
Encoding=UTF-8
Greeter=karoshi.xml
Name=Karoshi
Description=Joy KDM Theme - modified with Karoshi background
Author=Eshat Cakar, Adrien Aubourg
Copyright=(c) 2012 Eshat Cakar <info@eshat.de>, (c) 2010 Roman Shtylman <shtylman@gmail.com>, Adrien Aubourg
Screenshot=screenshot.png
