[Unit]
Description=The Apache HTTP Server for the Karoshi Web Management
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking

ExecStart=/etc/init.d/apache2_karoshi start
ExecStop=/etc/init.d/apache2_karoshi stop
ExecReload=/etc/init.d/apache2_karoshi reload
Restart=on-abort

[Install]
WantedBy=multi-user.target
