[Unit]
Description=Minidlna
After=network.target remote-fs.target nss-lookup.target samba4 zfs-mount.service mount-gluster-volumes.service

[Service]
Type=forking

ExecStart=/etc/init.d/minidlna start
ExecStop=/etc/init.d/minidlna stop
PrivateTmp=true
Restart=on-abort

[Install]
WantedBy=multi-user.target
