[Unit]
Description=Mount gluster volumes
After=network.target remote-fs.target nss-lookup.target glusterd.service

[Service]
Type=OneShot
ExecStart=/opt/karoshi/serversetup/modules/glusterfs/scripts/mount-gluster-volumes
KillMode=process

[Install]
WantedBy=multi-user.target
