[Unit]
Description=Karoshi Samba4
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/etc/init.d/samba4 start
ExecStop=/etc/init.d/samba4 stop
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
