[Desktop Entry]
Comment=Admin File Manager
Comment[en_US]=Admin File Manager
Encoding=UTF-8
Exec=sudo /opt/karoshi/karoshimanagement/admin_file_manager
GenericName=Admin File Manager
GenericName[en_US]=Admin File Manager
Icon=/usr/share/icons/Humanity/places/22/folder.svg
MimeType=
Name=Admin File Manager
Name[en_US]=Admin File Manager
StartupNotify=false
Terminal=false
Type=Application

