
[Desktop Entry]
Comment=Web Management
Comment[en_GB]=Web Management
Encoding=UTF-8
Exec=firefox https://127.0.0.1:50001/cgi-bin/admin/redirect.cgi
GenericName=Web Management
GenericName[en_GB]=Web Management
Icon=/opt/karoshi/serversetup/essentials/smalllogo.xpm
MimeType=Web Management
Name=Web Management
Name[en_GB]=Web Management
StartupNotify=false
Terminal=false
Type=Application
GenericName[en_GB.UTF-8]=Web Management
Comment[en_GB.UTF-8]=Web Management
