#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=karoshi-change-password
Name[en_GB]=Change Password
Exec=exo-open https://xen:50001/cgi-bin/all/change_my_password_fm.cgi
Comment[en_GB]=Change Password
Name=Change Password
Comment=Change Password
Icon=karoshi-change-password
