
[Desktop Entry]
Comment=Karoshi Web Management
Comment[en_GB]=Karoshi Management
Encoding=UTF-8
Exec=exo-open https://xen:50001/cgi-bin/staff/change_student_password_fm.cgi
GenericName=Karoshi Management
GenericName[en_GB]=Karoshi Web Management
Icon=karoshi-logo
MimeType=Karoshi Management
Name=Karoshi Management
Name[en_GB]=Karoshi Management
StartupNotify=false
Terminal=false
Type=Application
