#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=indicator-applet
Name[en_GB]=Helpdesk
Exec=exo-open https://xen:50001/cgi-bin/staff/helpdesk_add_fm.cgi
Comment[en_GB]=Helpdesk
Name=Helpdesk
Comment=Helpdesk
Icon=indicator-applet
