<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
      <!-- launch-update-scripts.sh.plist -->
    <string>launch-update-scripts.sh.plist</string>
    <key>ProgramArguments</key>
    <array>
          <!-- /Library/Scripts/LoginScripts/update-scripts.sh -->
        <string>/Library/Scripts/LoginScripts/update-scripts.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
