
[Desktop Entry]
Comment=
Comment[en_GB]=
Encoding=UTF-8
Exec=mozilla-firefox http://127.0.0.1/cgi-bin/mon.cgi
GenericName=
GenericName[en_GB]=
Icon=/opt/karoshi/serversetup/essentials/smalllogo.xpm
MimeType=
Name=
Name[en_GB]=Monitor Servers
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
